/*@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");*/


.just-padding {
    padding: 15px;
}

.tree-list {
    max-width: 700px;
}

.padding-0 {
    padding: 0 !important;
}

.padding-20 {
    padding: 20px !important;
}

.margin-0 {
    margin: 0 !important;
}

.margin-t-10 {
    margin-top: -10px !important;
}
.margin-t-5 {
    margin-top: -5px !important;
}
.margin-t5 {
    margin-top: 5px !important;
}

.margin-t10 {
    margin-top: 10px !important;
}
.margin-t20 {
    margin-top: 20px !important;
}
.margin-t30 {
    margin-top: 30px !important;
}

.margin-b5 {
    margin-bottom: 5px !important;
}
.margin-b10 {
    margin-bottom: 10px !important;
}
.margin-b20 {
    margin-bottom: 20px !important;
}
.margin-b30 {
    margin-bottom: 30px !important;
}


.margin-l20 {
    margin-left: 20px !important;
}

.margin-r10 {
    margin-right: 10px !important;
}

.margin-r30 {
    margin-right: 30px !important;
}


/*---------------*/
html, body, ul, li {/* margin:0; *//* padding:0; */}

#sTree2 ul, li {
    list-style-type:none;
    /* color:#b5e853; */
    /* border:1px solid #3f3f3f; */
}

ul, .tree-list {
    padding:0;
    /*background-color:#151515;*/
}

.tree-list .has-child {
    background: #e0ffe0;
}

.tree-list .no-child {
    background: #ffffe0;
}


.tree-list li, ul#sortableListsBase li {
    padding-left:30px;
    margin:5px 0;
    /*border:1px solid #555;*/
    /*background-color:#fff;*/
}

.tree-list li div {
    padding:7px;
    background-color:#fff;
}

li, ul, div { /*border-radius: 3px;*/ }

.c1 { color: #6a903b; }
.c2 { color: #8b0000; }
.c3 { color: #003eff; }
.c4 { color: #ec971f; }
.c5 { color: #666667; }
.c6 { color: #888; }
.c7 { color: #ff9999; }
.c8 { color: #bbffbb; }

.bgC-trans, .transparent { background-color:transparent !important;}
.bgC0, .white { background-color:#fff !important;}
.bgC1, .gray { background-color:#ccc !important;}
.bgC2, .yellow { background-color:#fffaf0 !important; }
.bgC3, .red { background-color:#ffeaea !important; }
.bgC4, .blue { background-color:#aaaaff !important;}
.bgC5, .green { background-color:#99ff99 !important; }
.bgC6, .gree2 { background-color:#dbffdb !important; }
.bgC7, .brown { background-color:#c26b2b !important; }
.bgC8, .gree3 { background-color: rgba(219, 255, 219, 0.2) !important; }

.pT20 { padding-top:20px; }

.pV10 { padding-top:10px; padding-bottom:10px; }

.pR { position: relative; }

.t10 { top: 10px; }

.dN { display:none; }

.zI1000 { z-index:1000; }

.small1 { font-size:0.8em; }
.small2 { font-size:0.7em; }
.small3 { font-size:0.6em; }

.tAR { text-align:right; }

.clear { clear:both; }

.tree-list.well, .tree-list > li {
    padding: 0;
}
#sortableListsBase {
    background-color: #c5c5c5;
}

i.fa {
    font-size: initial;
}

.inline {
    display: inline;
}


#jstree-product li.deleted > a {
    text-decoration: line-through;
    background-color: #ffcaca;
}

#jstree-product {
    font-size: 18px;
}

#jstree-product a.no_checkbox > i.jstree-checkbox{
    display: none;
}

#jstree-product .tree-price {
    height: inherit;
    /*float: right;*/
}

#jstree-product .stretch {
    width: 100%;
}

.left-block {
    border-right: solid 1px lightgrey;
    box-shadow: 5px 5px 5px #ccc;
}

.jstree-grid-header-regular {
    text-align: center;
}
.jstree-grid-cell-regular {
    text-align: right;
    padding: 0 5px;
}


.trader-info {
    border-right: 1px solid lightgrey;
    padding: 10px;
}

.trader-info .viewValue {
    margin-left: 10px;
/*    font-weight: bold;*/
}
.trader-info .viewSeparator {
    margin: 0 20px;
}

.trader-info p {
    border: 1px solid lightgrey;
    padding: 5px;
    margin: 2px;
}
.trader-info p label {
/*    font-weight: normal;*/
}

.viewOrder {
    cursor: pointer;
}

.dragAnchor {
    cursor: move;
}

input[type="text"] {
    padding-left: 5px;
    padding-right: 5px;
}

#jstreePanel {
    position: absolute;
    background: white;
    width: auto;
    padding: 0;
}

#jstreePanel .container-fluid {
    padding: 0;
}

.prodListItem .priceText,
.prodListItem .orderPrice {
    display: inline-block;
    height: 30px;
    width: 80px;
    text-align: right;
    padding-right: 10px;
    padding-top: 5px;
    border: solid 1px lightgrey;
    background-color: white;
}

.scroll-y {
    height: 20em;
    overflow-y: scroll;
}

.dropdown-toggle {
    cursor: pointer;
}

.l-border {
    border-left: 1px solid #e8e8e8;
}

.dropdown.open {
    z-index: 100;
}

.input-group-center {
    margin-left: auto;
    margin-right: auto;
}


ul, #sTree {
    padding:0;
    /*background-color:#c5c5c5;*/
}

#sTree li {
    padding-left:25px;
    margin:5px; border:1px solid #ccc;
    /*background-color:#e8e8e8;*/
}

#sTree li div {
    padding:5px;
    /*margin:5px; border:1px solid #ccc;*/
    /*background-color:#e8e8e8;*/
}

/*li, ul, div { border-radius: 3px; }*/

/*ul, li {*/
/*    !*list-style-type:none;*!*/
/*    !*color:#b5e853;*!*/
/*    !*border:1px solid #3f3f3f;*!*/
/*}*/
#sTree { margin:10px auto; }

.dishesList i {
    float: left;
    display: inline-block;
    margin-left: -18px;
    /*margin-right: 5px;*/
    margin-top: 7px;
}

.dishesItem:hover, .dishesGroup:hover {
    background: #e8e8e8;
}

.container-fluid {
    padding: 15px;
}

.border-0 {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

th {
    text-align: center;
}

small.help-block {
    position: absolute;
    margin-top: 35px;
}